.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: white;
  text-align: center;
  background-image: url('./components/apartment-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.site-content {
  flex-grow: 1;
  margin: auto;
  max-width: 90vw;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.loader {
  border: 4px solid white;
  border-top: 4px solid darkgray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  margin: auto;
  margin-bottom: 1em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}