.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: white;
  text-align: center;
  background-image: url('./components/background.png');
  background-size: 100vh;
}

.site-content {
  flex-grow: 1;
  margin: auto;
  max-width: 90vw;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}